body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:azure;
}
h2{
    text-align: center;
}
form{
    padding: 30px;
    height:1100px;
    border-radius: 5px;
    margin-left: 450px;
    margin-right: 450px;
    background-color:rgb(233, 238, 144);


}
label{
    display: block;
    margin:1px;
    font-weight: bold;
}
input[type=text],
input[type=tel],
input[type=email],
input[type=password],
textarea{
    padding: 8px;
    border:1px solid whitesmoke;
    border-radius: 3px;
    width: 100%;
    margin-bottom: 2px;
}
select{
    width:70%;
    padding: 8px;
    border:1px solid whitesmoke;
    border-radius: 3px;
    margin-bottom: 10px;
}


.container{
    width:400px;
    margin: auto;
    height: 700px;
}

